<nav id="sidebar" class="col-md-2 d-md-block bg-dark sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link text-white" href="/tecnico"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/tecnico/ver-tickets"><i class="bi bi-ticket-perforated-fill"></i> Ver Tickets</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/tecnico/calendario"><i class="bi bi-calendar-week"></i> Calendario</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/tecnico/usuarios"><i class="bi bi-people-fill"></i> Usuarios</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/tecnico/categorias"><i class="bi bi-tags-fill"></i> Categorías</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/tecnico/reportes"><i class="bi bi-bar-chart"></i> Reportes</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/tecnico/inventario"><i class="bi bi-pc-display"></i> Inventario</a></li>
    </ul>
  </div>
</nav>
